body {
  background-image: url("../images/sky-grass.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  margin: 0 auto;
  line-height: 1.5;
}

h1,
h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}

a {
  color: #e65c0d;
  text-decoration: none;
}

a:hover {
  color: #a74005;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#description::first-letter {
  text-transform: capitalize;
}

#humidity,
#wind,
.lastUpdate {
  color: #e65c0d;
  opacity: 0.9;
}

.container {
  background: rgb(130 173 182);
  background-image: url("../images/sky-grass.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgb(16 30 38);
  border-radius: 30px;
  box-sizing: content-box;
  display: block;
  font-size: 17px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
  align-items: center;
}
.currentDay,
.currentDate {
  font-size: 15px;
  font-weight: bold;
}

.input-group {
  margin: 10px 10px;
}
.form-control {
  border: 1px solid rgb(16 30 38);
}

.btn-outline-secondary {
  background: rgb(110 159 173);
  border: 1px solid rgb(16 30 38);
  padding: 8px 10px;
}

.btn-outline-secondary:hover {
  background: rgb(70 131 152);
  border: 1px solid rgb(70 131 152);
}

.fa-magnifying-glass {
  color: black;
}
.fa-location-dot {
  color: red;
}

button.fahrenheit-link,
button.celsius-link {
  border: none;
  background: transparent;
  padding: auto;
}

.input-data {
  border: 1px solid rgb(16 30 38);
  border-radius: 30px;
  box-sizing: border-box;
  display: block;
  margin: 80px 0px;
  max-width: 800px;
  padding: 20px 10px;
}

.city-temperature,
.humidity-wind,
.five-days {
  margin: 0 auto;
  vertical-align: top;
}
.head,
.icon,
.info-day {
  color: black;
  display: inline-block;
  font-size: 18px;
  margin: 0 auto;
}

.five-days {
  border: 1px solid rgb(16 30 38);
  border-radius: 30px;
  box-sizing: content-box;
  display: block;
  margin: 0 auto;
  max-width: 110px;
  padding: 10px 10px;

  transition: all 200ms ease;
  opacity: 1;
}

.five-days:hover {
  opacity: 0.7;
}
.day,
.weather,
.icons,
.temperature {
  line-height: 1;
  text-align: center;
}

.weather {
  font-size: 13px;
}

.temperature {
  background: rgb(184 201 195);
  border-radius: 30px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  width: 100px;
  padding: 5px 5px;
}

.week,
.variable-data {
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  cursor: pointer;
}

.footer {
  background: rgb(184 201 195);
  border: 1px solid rgb(16 30 38);
  border-radius: 30px;
  color: black;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  width: 700px;
}
